<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cart.css">
    <title>Cart</title>
    <script src="/scripts/fakeSession.js"></script>
</head>
<body class="bodyCart">
    <%- include('../partials/header_con_search')  %>
    <main>
        <a href="/" id="linkVolverAtras"><img src="/img/arrow-left.svg" alt="">Volver</a>
        <h1 class="title">Productos en tu Carrito</h1>
        <% if(productosCarrito.length === 0) {%>
            <section id="cardError">
                <img src="./img/carritoIcono.png" alt="carrito icono">
                <h2>No tienes productos en tu carrito</h2>
                <a href="/" class="button">Volver</a>
            </section>
        <% }else { %>
            <% productosCarrito.forEach(producto => { %>
                <section id="containterProductos">
                    <article class ="articuloElemento">
                        <div class="parteNombreFoto">
                            <img class="imagenArticulo" src=<%= producto.imagen %> alt="">
                            <h3 class="nombreArticulo"><%= producto.nombre %></h3>
                        </div>
                        <div class="parteBotonesPrecio">
                            <form action="/cart/quitar" method="post">
                                <input type="hidden" name='idProducto' value=<%= producto.id %>>
                                <input type="submit"  class="buttonGrisAVerde quitar" value="Quitar">
                            </form>
                            
                            <div class="buttonCantidad"><button class="buttonDisminuir">-</button> <%= producto.cantidad %> <button class="buttonAumentar">+</button></div>
                            <span class="precioProducto"><%= producto.precio * producto.cantidad%></span>
                        </div>
                    </article>
                </section>
            <% }) %>
            <p id="totalPuntos" class="title">Total de Puntos<output id="outputTotal"> 

                <%= productosCarrito.reduce((total,producto) => total+=(producto.precio * producto.cantidad),0) %> 
            </output></p>
            <a href="/checkout" id="buttonPagar" class="buttonGrisAVerde">Ir a pagar</a>
        <% } %>
    </main>
    <%- include('../partials/footer')  %>
</body>
</html>