<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/product.css" />
    <title>Producto</title>
    <script src="/scripts/fakeSession.js"></script>
   
  </head>
  <body  class="bodyProduct">
    <%- include("../partials/header_con_search") %>
    <main>
      <section class="navegacion">
        <div>
          <p>
            <a href="/"><img id="flechaIzquierda" src="/img/arrow-left.svg" alt="Icono flecha" /></a>
            Volver al listado
            <img src="/img/flecha.svg" alt="flecha categorias" />
            Alimentos
          </p>
        </div>
      </section>
      <section class="articleCard">
        <div class="imagenesChicas">
        </div>
        <figure class="imagenPrincipal">
          <img
            src=<%= producto.image %> 
            alt=<%= producto.title %> 
          />
        </figure>
        <aside class="descripcion">
          <h3><%= producto.title%></h3>
          <h2><%= producto.price%> <span>puntos</span></h2>
          <form action="/cart" method="post">
            <input type="hidden" name='idProducto' value=<%= producto._id %>>
            <input type="submit" class="buttonGris" value="Agregar al carrito">
          </form>
          <p><%= producto.description%></p>
        </aside>
      </section>
      <section class="tarjetaProductos">
        <div>
          <h2 class="titulo_seccion">También te puede interesar</h2>
        </div>
        <div class="productosCards">
          <% suggestedProducts.forEach(element => { %>
            <article class="cardProducto">
                <img src=<%= element.image %> alt=<%=element.title%>>
                <div>
                    <a href=<%= `/product/${element._id}` %>> <h3 class ="Descripcion"><%= element.title %></h3></a>
                    <div>
                        <p><%= element.price %></p>
                        <span>Puntos</span>
                    </div>
                </div>
            </article>
        <% }) %>
        </div>
      </section>
      <%- include("../partials/barra_navegacion.ejs") %>
    </main>
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
