<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register.css">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/header_sin_search') %> 
    <main>
        <section class="card" id="cardRegister">
            <h1 id="tituloRegistro">¡Registrate!</h1>
            <form action="/users/register" method="POST" id="formRegistro">
                <label for="inputEmail"></label>
                <input class="input" type="email" name="email" id="inputEmail" placeholder="Tu email" autocomplete="off">
                <% if (errors.email) { %>
                 <span class="errorVal"><%=errors.email.msg%></span>
                <% } %>
                <label for="inputPW1"></label>
                <input class="input" type="password" name="password1" id="inputPW1" placeholder="Tu nueva contraseña" autocomplete="off">
                <label for="inputPW2"></label>
                <input class="input" type="password" name="password2" id="inputPW2" placeholder="Repeti tu contraseña" autocomplete="off">
                <% if (errors.password2 || errors.password1) { %>
                    <% if(errors.password1?.msg === errors.password2?.msg){ %>
                        <span class="errorVal"> <%=errors.password2?.msg %></span>
                    <% } else{ %>
                        <% if (errors.password1) { %>
                            <span class="errorVal"> <%=errors.password1?.msg %> </span>
                        <% } %>
                        <% if (errors.password2) { %>
                            <span class="errorVal"> <%=errors.password2?.msg %> </span>
                        <% } %>
                <% }} %>
                <button class="button" type="submit">Crear Cuenta</button>
            </form>
        </section>
        <section id="seccionCuenta">
            <p>¿Ya tienes cuenta? <a href="/users/login">Inicia sesión</a></p>
        </section>
    </main>
    <%- include('../partials/footer')  %>
</body>
</html>